a
{
    background-color: none;
    color: black;
}

a:hover
{
    background-color: none;
    color: red;
}

body
{
  background-image: url("social-large.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
